/* General Styles */
body {
    margin: 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    background-color: #fdfdfd;
    color: #000000;
    background-image: url("img/paper.png");
    background-size: cover;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0); /* Adjust values as needed */
    font-family: "Libre Baskerville", serif;
    font-weight: 400;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover {
    color: #000000;
}

/* Home Page */
.home-content {
    text-align: center;
    padding: 50px 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;


}
.home-content img {
    max-width: 25%; /* Adjust the percentage as needed for responsiveness */
    height: auto;   /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image if needed */
    display: block; /* Ensure the image behaves like a block element */
}

.home-content h1 {
    font-size: 60px;
    margin: 0;
}
.home-content h2 {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top:0;
}

.home-content p {
    font-size: 24px;
    margin-bottom: 40px;
    margin-left:300px;
    margin-right:300px;
}

.explore-btn {
    background-color: #000000;
    color: #fdfdfd;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid transparent; /* Initially, no visible border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.explore-btn:hover {
    background-color: #fdfdfd;
    border-color: black;


    color: #000000;

}

/* Explore Page */
.explore-content {
    padding: 50px 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    border: 2px solid transparent; /* Initially, no visible border */
    border-color:black;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    margin-top: 15px;
    font-size: 22px;
}

.card .description {
    display: none;
    font-size: 18px;
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.05);
    background-color: #000000;
    color:white;
}

.card:hover .description {
    display: block;
}

/* Contact Page */
.contact-content {
    padding: 50px 20px;
    text-align: center;
}

.contact-info {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 15px 0;
}

.contact-info a {
    color: #000000;
    text-decoration: none;
}

.contact-info a:hover {
    color: #414141;
}

/* Responsive Design */
@media (max-width: 768px) {
    .home-content {
        padding: 50px 20px;
    }

    .home-content h1 {
        font-size: 40px;
        margin-bottom:10px;
    }
    .home-content h2 {
        font-size: 20px;
    }

    .home-content p {
        font-size: 15px;
        margin-left:10px;
        margin-right:10px;
    }

    .explore-btn {
        font-size: 18px;
        padding: 12px 24px;
    }

    .card img {
        height: 150px;
    }

    .card h2 {
        font-size: 20px;
    }

    nav ul li {
        margin: 0 20px;
    }
    nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}
}
